rodin.dao/database/db.dtd

<!ELEMENT dataset ( 
    SystemUser*,
    PersonalInfo*,
    Student*
)>

<!ELEMENT SystemUser EMPTY>
<!ATTLIST SystemUser
    ID CDATA #REQUIRED
    EMPLOYEE_ID CDATA #REQUIRED
    USERNAME CDATA #REQUIRED
    PASSWORD CDATA #REQUIRED
    CREATEDBY CDATA #REQUIRED 
    CREATIONDATE CDATA #REQUIRED 
    MODIFIEDBY CDATA #REQUIRED 
    DATEMODIFIED CDATA #REQUIRED 
    STATUS CDATA #REQUIRED>    
    
<!ELEMENT PersonalInfo EMPTY> 
<!ATTLIST PersonalInfo
	ID CDATA #REQUIRED
	FIRSTNAME CDATA #REQUIRED
	LASTNAME CDATA #REQUIRED
	MIDDLENAME CDATA #REQUIRED
	AGE CDATA #REQUIRED
	DATAOFBIRTH CDATA #REQUIRED
	CREATEDBY CDATA #REQUIRED 
    CREATIONDATE CDATA #REQUIRED 
    MODIFIEDBY CDATA #REQUIRED 
    DATEMODIFIED CDATA #REQUIRED 
    STATUS CDATA #REQUIRED>
    
<!ELEMENT Student EMPTY> 
<!ATTLIST Student
	ID CDATA #REQUIRED
	STUDENTID CDATA #REQUIRED
	PERSONALINFO_ID CDATA #REQUIRED
	CREATEDBY CDATA #REQUIRED 
    CREATIONDATE CDATA #REQUIRED 
    MODIFIEDBY CDATA #REQUIRED 
    DATEMODIFIED CDATA #REQUIRED 
    STATUS CDATA #REQUIRED>    
    
   